:root {
  --background: #ffffff;
  --foreground: #000000;
  --border: #cfd9de;
  --field: #eff3f4;
  --system-text: #536471;
  --theme-color: #1d9bf0;
  --theme-color-focus: #8ecdf7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
    --border: #333639;
    --field: #202327;
    --system-text: #71767B;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type="range"] {
  appearance: none;
  height: 2px;
  background: var(--system-text);
  border-radius: 2px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  margin-bottom: -4px;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0 2 5px rgba(0,0,0,0.3);
  margin-top: -5px;
}

input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.main {
  padding: 12px 12px 64px;
  display: flex;
  justify-content: center;
}

.screen {
  max-width: 600px; /* 本家は 598 px ? っぽいけど */
}

.search-field {
  flex-grow: 1;
  padding: 10px 14px;
  height: 32px;
  border-radius: 16px;
  outline: none;
  border: none;
  font-size: 14px;
  background-color: var(--field);
}
.search-field::placeholder {
  color: var(--system-text);
  text-align: center;
}

.search-button {
  padding: 10px 20px;
  height: 32px;
  border-radius: 16px;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--theme-color);
  transition: 0.1s;
}
.search-button:hover {
  background-color: var(--theme-color-focus);
}

.choose-book-wrap {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap;
  height: 40px;
  font-size: 13px;
  cursor: pointer;
}

.display-name {
  font-weight: bold;
  color: var(--foreground);
}
.user-name {
  color: var(--system-text);
}

.loading {
  width: 36px;
  height: 36px;
  border: 4px solid var(--border);
  border-top: 4px solid var(--theme-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.thread {
  border-left: 2px solid var(--border);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
